<header>
<div class="container">
<a href="" class="logo"> Sumnima Sharma </a>

<nav>
<ul>
<li> <a href="#" routerLink="/"> About </a>  </li>
<li> <a href="#" routerLink="/list"> Contact </a>  </li>
</ul>
</nav>
</div>
</header>

<div class="social">
    <a href="//github.com/gmittal" target="_blank" rel="noreferrer">
      <img src="/img/social/github.svg" id="gh" alt="GitHub" />
    </a>
    <a href="//www.linkedin.com/in/mittalgautam/" target="_blank" rel="noreferrer">
      <img src="/img/social/linkedin.svg" id="in" alt="LinkedIn" />
    </a>
    <a href="//twitter.com/realgmittal" target="_blank" rel="noreferrer">
      <img src="/img/social/twitter.svg" id="fb" alt="Twitter" />
    </a>
    <a href="/.well-known/ssh.txt" target="_blank" rel="noreferrer">
      <img src="/img/social/fingerprint.svg" id="ssh" alt="SSH" />
    </a>

</div>

<div class = "container">

<p>
    Hi! I’m an undergrad at University of Louisiana at Monroe studying Computer Science. I enjoy building things and music of all genres. 
    I am fascinated by difficult problems, computer-generated art, hackathons, jazz, and the design of products and systems.
</p>
</div>


<div class="content-center">
    <div class="profile-image">
        <a href="#">
            <img src="assets/images/profile.JPG" alt="Image" />
        </a>
    </div>
    <div class="h2 title">Sumnima </div>
    <p class="category text-white">Web Developer</p>
    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
    <a class="btn btn-primary"href="https://drive.google.com/file/d/1Bngz7t8l_RAtwVmtHjnPe6CIoFWK9AfY/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
</div>